<body>
    <div class="container" [formGroup]="form">
        <h1>Doctor Login/Sign Up</h1>
        <div class="doc-username">
            <input id="username" type="text" formControlName="username" placeholder="Username" />
        </div>
        <pre></pre>
        <div class="doc-password">
            <input id="password" type="password" formControlName="password" placeholder="Password"/>
        </div>
        <div class="forgot-password">
            <a href="DoctorLogin/ForgotPassword">Forgot Password?</a>
        </div>
        <pre></pre>
        <div class="options">
            <button class="signup" (click)="signup()">Sign Up</button>
            <button class="login" (click)="login()" [disabled]="!form.valid">Login</button>
        </div>
      <button (click)="homepage()">Go to Home Page</button>
        <pre></pre>
    </div>
</body>
