<div class="container" [formGroup]="form">
    <h1>PATIENT TRACKER SYSTEM</h1>
    <div class="doc-username">
        <input id="username" type="text" formControlName="username" placeholder="Username" />
    </div>
    <pre></pre>
    <div class="doc-password">
        <input id="password" type="password" formControlName="password" placeholder="Password"/>
    </div>
    <pre></pre>
    <div class="options">
        <label for="login">Login</label>
        <input type="radio" id="login">
        <label for="signup">Sign Up</label>
        <input type="radio" id="signup">
    </div>
    <pre></pre>
    <button class="button" (click)="login()" [disabled]="!form.valid">Submit</button>
</div>