body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
.container {
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  height: 70vh; /* Increased height for better visibility */
  /* background-color: #3498db;  */
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  /* font-family: 'Arial', sans-serif; */
  font-size: 24px;
  margin-bottom: 50px;
  letter-spacing: 2px;
}

.doc-username,
.doc-password,
.options {
  margin-bottom: 20px;
}

#username, #password {
  padding: 10px;
  width: 70%; /* Increased width for better visibility */
  box-sizing: border-box;
  border: 1px solid #333;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
}

button {
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  background-color: #27ae60; /* Medical-appropriate green color */
  color: #333;
  cursor: pointer;
  font-size: 16px;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.options {
  display: inline-flex;
  gap: 10px; /* Small gap between Login and Sign Up */
  align-items: center;
  justify-content: center; /* Center the items horizontally */
}

.options label {
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  border-color: #333;
  font-size: 16px;
  color: #333;
  background-color: white;
  cursor: pointer;
}

/* Styles for the radio buttons */
.options input[type="radio"] {
  visibility: hidden;
}

input:checked + label{
  color: white;
  border-color: white;
  background-color: blue;
}
/* Hover effect for the buttons */
button:hover {
  background-color: #218c54; /* Darker green on hover */
}
