<body>
    <div class="header">
        <div class="dashboard-img">
            <img id ="dash-img" src="../../assets/images/doctor-dashboard-icon.png">
        </div>
        <div class = "dashboard-heading">
            <h2> Update Case </h2>
        </div>
        <div class="dashboard-logout">
            <a  href="DoctorLogin">Log Out</a> 
        </div> 
    </div>
    <div class="column-split">
        <div class="options"> 
            <a href="DoctorLogin/Profile">Profile</a> <br>
            <a href="DoctorLogin/Dashboard">Dashboard</a><br>
            <a href="DoctorLogin/UpcomingAppointments">Upcoming Appointments</a><br>
            <a href="DoctorLogin/CaseHistory">Case History</a><br> 
            <a href="DoctorLogin/Reschedule">Reschedule Appointment</a><br>
            <a href="DoctorLogin/UpdateCase">Update Case</a><br> 
        </div>
        <div class="right-frame">
        <div class="appointment-cases">
            <div class="div-table">
            <table class="table">
                <thead>
                    <tr>
                      <th>Id</th>
                      <th>Name</th>
                      <th>Username</th>
                      <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let user of Cases">
                    <td>{{ user.id }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                  </tr>
                </tbody>
              </table>
              </div>
            <pre></pre>
        </div>
        <div class="select-appointment" [formGroup]="form">
            <input type="number" formControlName="appointment_number"><br>
            <button type="button" (click)="reschedule()" [disabled]="!form.valid">Edit Case</button><br>
        </div>
    </div>
    </div>
</body>
