<body>
<div class="header">
  <div class="dashboard-img">
    <img id ="dash-img" src="../../assets/images/patient-dashboard.png">
  </div>
  <div class = "dashboard-heading">
    <h2> Dashboard </h2>
  </div>
  <div class="dashboard-logout">
    <a  href="PatientLogin">Log Out</a>
  </div>
</div>
<div class="column-split">
  <div class="options">
    <a href="PatientLogin/Profile">Profile</a> <br>
    <a href="PatientLogin/Dashboard">Dashboard</a><br>
    <a href="PatientLogin/UpcomingAppointments">Upcoming Appointments</a><br>
    <a href="PatientLogin/CaseHistory">Case History</a><br>
    <a href="PatientLogin/Reschedule">Reschedule Appointment</a><br>
    <a href="PatientLogin/NewAppointment">Book New Appointment</a><br>
  </div>
  <div class="appointment-cases">
    <h2><u>Today's Appointment</u></h2>
    <div class="div-table">
      <table class="table">
        <thead>
        <tr>
          <th>Appointment ID</th>
          <th>Case ID</th>
          <th>Pateint ID</th>
          <th>Doctor ID</th>
          <th>Date</th>
          <th>Time</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of Appointments">
          <td>{{ user.appointmentId }}</td>
          <td>{{ user.caseId }}</td>
          <td>{{ user.patientId }}</td>
          <td>{{ user.doctorId }}</td>
          <td>{{ user.date }}</td>
          <td>{{ user.time }}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <h2><u>Open Cases</u></h2>
    <div class="div-table">
      <table class="table">
        <thead>
        <tr>
          <th>Id</th>
          <th>Patient ID</th>
          <th>Doctor ID</th>
          <th>Open Date</th>
          <th>Close Date</th>
          <th>Symptoms</th>
          <th>Medicines</th>
          <th>Cost</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of Cases">
          <td>{{ user.id }}</td>
          <td>{{ user.patient_id }}</td>
          <td>{{ user.doctor_id }}</td>
          <td>{{ user.open_date }}</td>
          <td>{{ user.close_date }}</td>
          <td>{{ user.symptoms }}</td>
          <td>{{ user.medicines }}</td>
          <td>{{ user.cost }}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <pre></pre>
  </div>
</div>
</body>
