body {
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
  }
  
  .header {
    display: flex;
    align-items: center;
    height: 10vh;
    background-color: #3498db;
    color: #fff;
    padding: 0 20px;
  }
  
  .dashboard-img {
    width: 50px;
  }
  
  #dash-img {
    height: 30px;
  }
  
  .dashboard-heading {
    flex-grow: 1;
    text-align: center;
    margin: 0;
  }
  
  .dashboard-logout {
    text-align: right;
  }
  
  .column-split {
    height: 90vh;
    width: 100%;
    display: flex;
  }
  
  .options {
    height: 100%;
    width: 20%;
    padding: 20px;
    background-color: #ecf0f1;
  }
  
  .options a {
    display: block;
    margin-bottom: 10px;
    color: #333;
  }

  .right-frame{
    width: 80%;
    height: 70vh;
  }

  .appointment-cases {
    height: 50vh;  
    padding: 20px;
    margin-top: 100px;
    align-items: center;
    justify-content: center;

  }
  
  .select-appointment{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
  }

  .div-table{
    max-height: 400px;
    overflow: auto;
  }

  .table {
    width: 100%;
  }

  table, th, td {
    border: 1px solid #ddd;
    border-collapse: collapse;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #3498db;
    color: #fff;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #e0e0e0;
  }
  
  button:disabled{
    cursor: not-allowed;
  }

  a{
    text-decoration: none;
    color: #fff;
  }

  h2{
    text-align: center;
  }

  .options{
    padding-top: 120px;
  }

  #form-input{
    margin-right: 15px;
  }

  input, select{
    border-color: #3498db;
    border-style: solid;
    border-radius: 10px;
  }

  button{
    margin-left: 550px;
  }