body {
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
  }
  
  .header {
    display: flex;
    align-items: center;
    height: 10vh;
    background-color: #3498db;
    color: #fff;
    padding: 0 20px;
  }
  
  .dashboard-img {
    width: 50px;
  }
  
  #dash-img {
    height: 30px;
  }
  
  .dashboard-heading {
    flex-grow: 1;
    text-align: center;
    margin: 0;
  }
  
  .dashboard-logout {
    text-align: right;
  }
  
  .column-split {
    width: 100%;
    height: 90vh;
    display: flex;
  }
  
  .options {
    width: 20%;
    padding: 20px;
    background-color: #ecf0f1;
  }
  
  .options a {
    display: block;
    margin-bottom: 10px;
    color: #333;
  }
  
  .appointment-cases {
    width: 80%;
    padding: 20px;
    overflow: auto;
  }
  
  .container{
    width: 80%;
    display: flex;
    float: left;
  }
  .div-image{
    width: 30%;
    padding-top: 100px;
    padding-left: 150px;
  }

  .div-details{
    padding-top: 50px;
    padding-left: 100px;
    width: 70%;
    /* background-color: red; */
  }
  
  a{
    text-decoration: none;
    color: #fff;
  }

  h2{
    text-align: center;
  }

  .options{
    padding-top: 120px;
  }