<body>
    <div class="header">
        <div class="dashboard-img">
            <img id ="dash-img" src="../../assets/images/doctor-dashboard-icon.png">
        </div>
        <div class = "dashboard-heading">
            <h2> Doctor Profile Summary </h2>
        </div>
        <div class="dashboard-logout">
            <a  href="DoctorLogin">Log Out</a> 
        </div> 
    </div>
    <div class="column-split">
        <div class="options"> 
            <a href="">Profile</a> <br>
            <a href="DoctorLogin/Dashboard">Dashboard</a><br>
            <a href="">Upcoming Appointments</a><br>
            <a href="DoctorLogin/CaseHistory">Case History</a><br> 
        </div>
        <div class="container">
            <div class="div-image">
                <img src="../../assets/images/doctor-profile-icon.png" height="200px" weight="200px" class="in-image">
            </div>
            <div class="div-details">
                Print details
            </div>
        </div>
    </div>
</body>
